.container {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#titleText h1 {
	font-family: "New Amsterdam", sans-serif;
	position: static;
	display: flex;
	justify-content: center;
	margin: 0 !important;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 10px;
	font-size: 150px;
	line-height: 110px;
	font weight: 100;
	word-spacing: -10px;
	color: #E7E3DE;
	left: 0;
	right: 0;
	top: 0;
}

#trackLink {
	position: static;
	z-index: 2;
	padding-top: 50px;
}

/*text styles*/
a {
	margin-top: 0;
	font-family: 'Quicksand', sans-serif;
	color: #555;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}

/* Navigation Bar */
.navbar {
  padding: 8px;
	color: black;
  border-bottom: 1px solid;
  position: fixed;
  bottom: 0;
  width: 100%;
	text-align: center;
	font-size: 80px;
}
.navbar a {
	color: #E7E3DE;
}
.navbar a:hover {
	  color: #0e3145;
}

/* Background video*/
#backgroundVideo {
	position: fixed;
	object-fit: cover;
	z-index: -1;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
	min-width: 100%;
  min-height: 120%;
}

body{
	height: 500px;
	background-position: center;
	background-repeat: repeat;
	background-size: 500px;
	position: relative;
}
