.container {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#titleText h1 {
	font-family: "New Amsterdam", sans-serif;
	position: static;
	display: flex;

	margin: 0 !important;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 75px;
	font-size: 125px;
	line-height: 85px;
	font weight: 100;
	word-spacing: -10px;
	color: #E7E3DE;
	left: 0;
	right: 0;
	top: 0;
}

/*text styles*/
a {
	margin-top: 0;
	font-family: 'Quicksand', sans-serif;
	color: #555;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}

/*ImageBlocks*/

.ImageBlocks{
	width: 75%;
	margin:auto;
	position: static;
	left: 0;
	display: flex;
	justify-content: center;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

iframe {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

#focus p {
	color: #E7E3DE;
	position: static;
	font-family: "New Amsterdam", sans-serif;
	padding: 0;
	margin: 0;
}

/* Navigation Bar */
.navbar {
  padding-top: 8px;
	padding-bottom: 8px;
	color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
	text-align: center;
	font-size: 50px;
	margin: 0;
	text-shadow:  0px 0px 30px black;

}
.navbar a {
	color: #E7E3DE;
}
/*
.navbar a:hover {
	  color: #C6CEE8;
}
*/

/* Background video*/
#backgroundVideo {
	position: fixed;
	object-fit: cover;
	z-index: -1;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
	min-width: 100%;
  min-height: 120%;
}

body{
	height: 500px;
	background-repeat: repeat;
	background-size: 500px;
	position: relative;
/*for not tiled
background-position: center;
*/

}
