/*body*/
br {
   margin: 15px 0;
}

.container {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
		min-height: 100%;
		overflow:hidden;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
  	background-size: cover;
	  -webkit-backface-visibility: hidden;
}

/*title*/
#titleText h1 {
	font-family: "New Amsterdam", sans-serif;
	position: static;
	display: flex;

	margin: 0 !important;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 86px;
	line-height: 80px;
	font weight: 100;
	word-spacing: -10px;
	color: #E7E3DE;

}
#titleText h2 {
	font-family: "New Amsterdam", sans-serif;
	position: static;
	display: flex;

	margin: 0 !important;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 0px;
	padding-bottom: 50px;
	font-size: 130px;
	line-height: 80px;
	font weight: 100;
	word-spacing: -10px;
	color: #E7E3DE;

}

/*text styles*/
a {
	margin-top: 0;
	font-family: 'Quicksand', sans-serif;
	color: #555;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}

/*ImageBlocks*/
.ImageBlocks{
	width: 65%;
	margin:auto;
	position: static;

	display: flex;
	justify-content: center;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

#focus iframe {
	max-width: 100%;
	max-height: 315px;
	border-radius: 8px;
}

#focus p {
	color: #E7E3DE;
	position: static;
	font-family: "New Amsterdam", sans-serif;
	padding: 0;
	margin: 0;
}

/* Navigation Bar */
.navbar {
	padding-bottom: 8px;
	color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
	text-align: center;
	font-size: 40px;
	margin: 0;
	text-shadow:  0px 0px 10px #171717;

}
.navbar a {
	color: #E7E3DE;
}
